<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>

    <authentication mode="Forms">
      <forms name="fortress"
      
  loginUrl="locked/login.aspx"

        protection="All"
        timeout="60" />
    </authentication>

    <machineKey
      validationKey="AutoGenerate"
      decryptionKey="AutoGenerate"
      validation="SHA1"  />


  </system.web>
</configuration>
